@import 'palette';

.shoplist {
    border-collapse: collapse;
    width: 100%;
}

.shoplist tr {
    border-bottom: 1px solid silver;
    height: 3em;
}

.shop__icon {
    text-align: right;
    padding-right: 0.5em;
}

.shop__name {
    & em {
        color: silver;
        font-style: normal;
        padding-left: 0.5em;
    }

    & a {
        color: black;
        text-decoration: none;
    }
}

.shop__closes {
    text-align: right;
    padding-right: 0.5em;
}

.shop--halfprice {
    .shop__closes {
        color: rgb(141, 24, 18);
    }
}
