@import 'palette';

.shop {
    font-family: Helvetica, Arial, sans-serif;

    border-bottom: 1px solid silver;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__name {
    padding: 0 0.7em;
}

.shop__closes {
    padding: 0.7em;
    font-weight: bold;
}
